.main_div {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-div {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}